# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Visual Studio Code
.vscode/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi
*.pyproj
*.egg-info/
dist/
build/
*.egg
*.whl

# Conda
.env/
.conda/